.education-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 2rem;
}
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 2rem;
  align-items: center;
  transition: all 0.3s;
}
.education-image {
  width: 100%;
}
.education-description {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .education-section {
    justify-content: center;
  }
  .education-container {
    flex-direction: row;
  }
}