.text-area {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  outline: 0;
  border: 0px solid;
  border-radius: 5px;
  min-width: 35rem;
  display: inline-block;
  // color: var(--color-body);
  box-shadow: 0 0 10px lightgray;
  margin: 1.5rem 0rem;
}