.contactus-root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contactus-heading {
    text-transform: uppercase;
  }
  .contact-image {
    width: 75%;
    height: auto;
    object-fit:cover;
  }

  .contactus-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactus-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactus-btn-group {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contactus-root-container {
    .contactus-body-container {
      flex-direction: row;
    }
  }
}

