/* Buttons styles start */
button, .btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: var(--font--secondary);
  font-weight: 500;
  border-radius: 100px;
  border-width: 1.2px;
  border-style: solid;
  cursor: pointer;
  margin: 0.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.btn--primary {
  background: var(--color--primary);
  color: var(--color--light);
  border-color: var(--color--primary);
}
.btn--primary:hover {
  background: var(--color--primary--dark);
  color: var(--color--light);
}
.searchIcon {
  height: 2rem;
  margin-right: 0.5rem;
  color: #fff;
  fill: #fff;
}
/* Buttons styles end */