.nav-toggler-primary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    box-shadow: 0 0 15px lightblue;
  }
}

@media screen and (min-width:768px) {
  .nav-toggler-primary {
    opacity: 0;
  }
}
