.main-container {
  background: var(--color--secondary);
  // width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5rem;
  align-items: center;
  color: var(--color--header--primary);
}

.portfolio-image-container {
  max-width: 95vw;
  box-shadow: 0 0 55px #09004e;
  border-radius: 50%;
  background: linear-gradient(to right, #f0f0f0d5, #4778f5, #f0f0f0d5) ;
  vertical-align: middle;
}

.name-container {
  font-size: 6rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .main-container  {
    flex-direction: row;
  }
  .portfolio-image-container {
    max-width: 40%;
  }
}