.main-container {
  background: var(--color--secondary);
  // width: 100vw;
  min-height: 93.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 5rem;
  align-items: center;
  // flex-wrap: wrap;
  color: var(--color--header--primary);
}

.portfolio-image-container {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 55px #09004e;
  border-radius: 50%;
  background: linear-gradient(to right, #f0f0f0d5, #4778f5, #f0f0f0d5) ;
}

.name-container {
  font-size: 6rem;
  text-transform: uppercase;
}



@media screen and (min-width: 768px) {
  .main-container  {
    flex-direction: row;
  }
}